@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: #f2dbe7;
}

.line-1{
    top: 50%;  
    width: 6em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 1.4s steps(11) 1s 1 normal both, blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
} 

.game-container{
   width: 320px;
   height: 320px;
   border: 1px solid #ccc;
   overflow: hidden;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cell{
    width: 77px;
    height: 77px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #ffffff;
}

.score-container{
    font-size: 1.0em;
    font-style: bold;
    color: black;
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cell[data-value="2"]{
    background-color: #FEC5E5;
}

.cell[data-value="4"]{
    background-color: #f688cd;
}

.cell[data-value="8"]{
    background-color: #fc94af;
}

.cell[data-value="16"]{
    background-color: #f26b8a;
}

.cell[data-value="32"]{
    background-color: #fa86c4;
}

.cell[data-value="64"]{
    background-color: #f79ac0;
}

.cell[data-value="128"]{
    background-color: #f25278;
}

.cell[data-value="256"]{
    background-color: #fd5da8;
}

.cell[data-value="512"]{
    background-color: #f4c2c2;
}

.cell[data-value="1024"]{
    background-color: #efbbcc;
}

.cell[data-value="2048"]{
    background-color: #e8888a;
}

.cell[data-value="4096"]{
    background-color: #de3163;
}

#restart-btn{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #f6adc6;
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-cell[data-value]{
    transition: transform 0.2s, background-color 0.2s;
}

.new-tile{
    animation: appear 0.3s;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}